*{
    box-sizing:border-box;
}
html, body{
    scroll-behavior: smooth;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* =====Common======= */
.content{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
}
.btn{
    display: inline-block;
    min-width: 118px;
    min-height: 50px;
    border-radius: 24.5px;
    background: #171100;
    color: #FFF;
}
/* ========Header======= */
.header{
    background: #FFFCF4;
}
header.fixed{
    position: sticky;
    left: 0;
    right:0;
    top:-24px;
    z-index: 1;
    padding-top: 24px ;
}
.header .body{
    display: flex;
    align-items:center;
    max-width: 100%;
    padding: 12px 0px;
}

.nav{
    margin-left:auto;
}
.nav ul{
    display: flex;
}
.nav a{
    color: #5F5B53;
    text-align: center;
    font-size: 1.6rem;
    padding: 8px 21px;
    position: relative;
}
.nav a:hover,
.nav li.active a{
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after{
    content:"";
    display: inline-block;
    border-radius: 1px;
    background: #171100;
    width: 12px;
    height: 2px;
    position: absolute;
    left:21px;
    bottom: 6px;
}
.action .btn{
    display: inline-block;
    min-width: 144px;
    padding:16px 0px;
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
}

.header .main-body{
    display:flex;
    padding-top: 68px;
    padding-bottom: 65px;
}
.main-body .row{
    position: relative;
}
.row .card{
    position: absolute;
    bottom:48px;
    right: -100px;
    width: 270px;
    height: 244px;
    border-radius: 12px;
    padding:10px 0px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.card .item{
    display: flex;
    margin-top: 14px ;
    margin-bottom: 14px;
    padding:0px 24px
}
.card img{
    display:inline-block;
    padding:0px 16px;
}
.card .desc{
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 185.714% ;
}
.card strong{
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667% ;
}
.header .info{
    max-width:470px;
    margin-left: auto;
}
.header .title{
    margin: 48px 0px 22px;
    color: #171100;
    font-family: 'Sen',sans-serif;
    font-size: 5.8rem;
    font-weight: 700;
    line-height:  117.241% ;
    letter-spacing: -1.16px;
}
.info .desc{
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166.667% ;
}
.info .action-link{
    display:flex;
    align-items: center;
    margin: 38px 0px 48px;
}
.info .btn{
    display: inline-block;
    min-width: 180px;
    height:64px ;
    border-radius: 32px;
    padding: 16px 10px;
    margin-right: 28px;
    background: #FFB900;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667% ;
} 
.info .action-watch{
    display: flex;
}
.info .watch img{
    display: inline-block;
    text-align: center;
    width: 12px;
    height:12px;
}
.info .watch{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right:10px ;
    background:#fff;
    box-shadow: 1px 12px 19px -13px rgba(0,0,0,0.43);
    -webkit-box-shadow: 1px 12px 19px -13px rgba(0,0,0,0.43);
    -moz-box-shadow: 1px 12px 19px -13px rgba(0,0,0,0.43);
    border-radius:50% ;
}
.action-watch .desc{
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height:  166.667% ;
    padding: 3px 0px;
}
.info .data{
    display:flex;
    gap:29px;
    margin-top: 8px;
}
.data strong {
    color: #171100;
    font-family: "Sen",sans-serif;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 122.727% ;
}


/* ==========Courses========== */
.courses {
    padding : 200px 0px
}
.courses .title{
    margin-bottom: 16px;
    color: #171100;
    font-family: "Sen",sans-serif;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 126.316% ;
    letter-spacing: -0.76px;
}
.courses .desc{
    margin-bottom:55px ;
    width: 458px;
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166.667% ;
}
.courses .items{
    display: flex;
    gap:30px;
}
.courses .course{
    width: 370px;
    height: 466px;
    border-radius: 12px;
    border: 1px solid #E2DFDA;
    background: #FFF;
}
.courses .hero{
    padding: 16px 22px 22px;
}
.courses .row {
    position: relative;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.courses .row .rate{
    display: flex;
    gap:6px;
    align-items: center;
}
.course .star{
    width: 18px;
    height: 18px;
}
.rate .value{
    color: #FEA31B;
    font-size: 16px;
    font-weight: 400;
    line-height: 175% ;
}
.courses .sub-title{
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667% ;
}

.course .desc{
    width: 326px;
    padding: 6px 0px;
    margin-bottom: 6px;
    font-size: 1.4rem;
    line-height:185.714% ;
}
.course .cost{
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667% ;
}

.course .btn{
    display: inline-block;
    text-align: center;
    padding: 18px 0px;
    border-radius: 25px;
    background: #171100;
    font-size: 1.4rem;
    font-weight: 600;
}
.courses .active{
    border: 0px;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.courses .active .btn{
    background: #FFB900;
}
.courses .direction{
    position: absolute;
    right: 0px;
    top:44px;
}
.courses img {
    margin-right: 18px;
}

/* =======Quote========= */
.quote {
    background: #2E2100;
}
.quote .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 96px 0px;
}
.quote .name{
    margin: 18px 0px 4px;
    color: #F7F7F7;
    font-family: "Sen",sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height:  141.667% ;
}
.quote .information .desc{
    width: 159px ;
    margin-bottom: 28px;
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height:  185.714% ;
}
.quote .information + .desc{
    position: relative;
    width: 740px;
    color: #FFF;
    font-size: 26px;
    font-style: italic;
    font-weight: 400;
    line-height:  153.846% ;
}

.quote .information + .desc::before{
    content: url(./img/quote.svg);
    display: inline-block;
    position: absolute;
    top:-30px;
    left:-30px;
}

.quote .direct{
    display:flex ;
    gap:6px;
}
.direct .circle{
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: #634700; 
}
.direct .active{
    background: #FFB900;
}

/* ========Features======= */

.features .body{
    display: flex;
    justify-content: space-between;
    padding: 200px 0px;
}
.features .row{
    display: flex;
    position: relative;
}
.features .row img:first-child{
    position: absolute;
    top:34px;
}
.features .row img:last-child{
    position: absolute;
    left:300px;
}
.features .detail{
    padding: 58px 0px;
}
.features .detail .title{
    width: 470px;
    color: #171100;
    font-family: "Sen",sans-serif;
    font-size: 3.7rem;
    font-weight: 700;
    line-height:  126.316% ;
    letter-spacing: -0.0475rem;
}

.features .detail .desc{
    width: 458px;
    margin : 16px 0px;
    color: #5F5B53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 175% ;
}
.features .btn{
    display: inline-block;
    margin-top: 32px;
    min-width: 137px;
    padding: 11px 0px;
    background: #FFB900;
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height:  175% ;
}


